* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

header {
  background-color: rgb(173, 162, 162);
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 10vh;
}

.nav-content {
  padding: 25px 25px;
  font-size: 24px;
}

main {
  background: url("./background.jpg");
  padding-bottom: 20px;
}

#contact-header-div {
  width: 60vh;
  margin: 0 auto;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.8;
  font-size: 20px;
}

#contact-title {
  width: max-content;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 40vh;
  margin: 0px auto;
  padding-top: 10vh;
}

input {
  margin-bottom: 25px;
  height: 2em;
  font-size: 1.5em;
}

label {
  visibility: hidden;
}

input:focus {
  border: solid black 4px;
}

input:focus + label {
  transform: translate(0px, -100px);
  visibility: visible;
}

button {
  width: 85px;
  height: 40px;
  margin: 0 auto;
  font-size: 20px;
}

h2 {
  color: red;
}

h3 {
  color: blue;
}

footer {
  display: block;
  position: relative;
  height: 8vh;
  background-color: rgb(173, 162, 162);
}

footer a {
  position: absolute;
  width: 425px;
  margin: 20px 0;
  left: 50%;
  transform: translate(-212.5px);
}
