* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.nav-content {
  padding: 25px 25px;
  font-size: 24px;
}

main {
  background: url("./background.jpg");
  height: 100%;
}

h2 {
  color: red;
}

h3 {
  color: blue;
}
